  <!-- ======= Header ======= -->
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="index.html">
      <h2></h2>
      <img src="../../assets/img/smalllogohb.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item dropdown  main-menu">
            <a class="nav-link dropdown-toggle" href="#" >Documentos D.I.N.I.</a>
            <div class="dropdown-menu main-menubox" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/brochure">Brochure</a>
              <a class="dropdown-item" routerLink="/curriculum">Curriculum</a>
              <a class="dropdown-item" routerLink="/altaespecificacion">Equipos de Alta Especificación</a>
            </div>
          </li>
           <!--<li class="nav-item dropdown main-menu">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Formatos
              </a>
              <ul class="dropdown-menu main-menubox" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Bankruptcy/Debtor and Creditor Rights</a>
                  <ul class="dropdown-menu left77">
                    <a class="dropdown-item" href="#">Common Bankruptcy Terms</a>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">Employment Management – Employers</a></li>       
                <li><a class="dropdown-item" href="#">Employment Management – Employers</a></li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Initial Consultation</a>
                  <ul class="dropdown-menu left131">
                    <a class="dropdown-item"  href="#">Initial Bankruptcy Consultation- Requested Documents</a>
                  </ul>
                </li>
              </ul>
            </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Equipo DINI</a>
        </li>
      </ul>
    </div>
  </div>
</nav><!-- .navbar -->
</header><!-- End Header -->
